proyecto/src/servidor/playlists/playlists.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT userPlaylists (user)*>
<!ELEMENT user (playlist)+>
	<!ATTLIST user identificador ID #REQUIRED>
<!ELEMENT playlist (song)*>
	<!ATTLIST playlist playlistName CDATA #REQUIRED>      
<!ELEMENT song (title, duration)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT duration (#PCDATA)>